/* App.css */
.App {
  text-align: center;
}





header {
  background-color: #f70808;
  padding: 1px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Căn giữa theo chiều ngang */
}

.app-logo {
  max-height: 160px;
  margin-right: auto;
}


.app-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}



h1.app-title {
  color: #3d13f8;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* .form-container {
  width: 96%;
  height: 650px;
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url('/public/logo13.png');
  background-size: cover;
  background-position: center;
  position: relative;
} */